<div class="story">
  <header id="story_header">
    <app-head (toggle)="toggleSideBar($event)"></app-head>
  </header>

  <main>
    <mat-sidenav-container>
      <mat-sidenav #rightSideNav mode="side" align="start" [opened]="flag" >
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <!-- Body -->
      <div class="story_content" [style.height]="h">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-container>
  </main>

  <footer id="story_foot">
    <app-foot></app-foot>
  </footer>
</div>





